@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;}

html {
    background-color: #f0f0f0;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.faqContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 85vh;
    background-color: white;
    border-radius: 15px;
    overflow-y: scroll;
    margin-top: 12vh;
    padding: 0vh 2vh;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, .2);
    z-index: 1;
}

.faqContent::-webkit-scrollbar {
    display: none;
}

.logo {
    width: 12vw;
    height: 20vh;
    margin-top: 22vh;
}

.questions {
    margin: 0 auto;
    width: 45vw;
    height: 100%;
    z-index: 1;
}

.title {
    font-family: "Poppins";
    font-size: 4vh;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    color: black;
}

.questions li {
    list-style: none; 
    width: 100%;
    margin: 2vh;
    padding: 1vh;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 3px 2px 0px rgba(75, 72, 72, 0.712),
                    -7px 0px 0px -2px #20B440;
}

.questions li label {
    display: flex;
    align-items: center;
    padding: 3vh;
    font-family: "Poppins";
    font-size: 2.5vh;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-left: auto;
}

input[type="radio"] {
    display: none;
}

.questions .content {
    color: #555;
    padding: 2px 10px;
    line-height: 4vh;
    font-size: 3.5vh;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.questions input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 10px;

}

.answer {
    font-family: "Poppins";
    font-size: 2.5vh;
    color: black;
}