/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #e3f2fd;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #2BB749;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  justify-content: space-between; 
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
}
.menu-icon {
  color: var(--branco);
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;

  transition: all 0.4s ease;
}

.menu-icon2 {
  color: var(--preto);
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
  margin-top: -30px;
  width: 20px;

  transition: all 0.4s ease;
}

.menu-icon:hover, .menu-icon2:hover {
  transform: translateY(-0.5vw);
  transform: translateY(0.2vw);
}

.imgLogo {
  width: 70px;
  height: 70px;
  margin: 0 -10px;
}

.logo .logo-name {
  color: var(--branco);
  font-size: 22px;
  font-weight: 600;
}

.titleText, .sairText {
  color: var(--branco);
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  margin-left: -20%;
}

.sairText a {
  text-decoration: none;
  color: var(--branco);
  margin-left: -20%;
}

.lists {
  padding-left: 0;
}

.perfilInfos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.perfilInfos img {
  border-radius: 50%;
}

.perfilInfos h3 {
  color: #425A67;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}

.perfilInfos .descPerfil {
  color: #00A5FF;
  font-size: 14px;
  margin-top: -7px;
}

nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);

  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 7px 12px;
  background-color: #d9d9d973;
  border-radius: 100px;
  text-decoration: none;

  transition: all 0.4s ease;
}
.lists .nav-link:hover {
  background-color: #d9d9d9c1;
  transform: translateY(-0.5vw);
  transform: translateY(0.2vw);
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
  width: 17px;
  display: flex;
  justify-content: center;
}
.nav-link .link {
  color: #425A67;
  font-weight: 700;
  font-size: 16px;
}

.bottom-content .nav-link:hover {
  background-color: #d9d9d9c1;
  transform: translateY(-2.0vw);
  transform: translateY(0.8vw);
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #707070b7;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;

  transition: all 0.4s ease;
}