.conteudo {
    display: flex;
    align-items: right;
    justify-content: space-around;
    background-color: white;
    width: 1080px;
    height: 640px;
    margin-top: 5%;
    border-radius: 30px;
    box-shadow: 4px 4px 2px 3px rgba(0, 0, 0, .2);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

#perfilInfos {
    margin-left: 5%;
}

#namePerfil {
    font-size: 22px;
    margin-top: 7%;
    text-align: center;
}

#descPerfil {
    font-size: 17px;
    margin-left: 6vw;
}

.imgPerfil {
    height: 15vw;
    border-radius: 50%;
    margin-top: 2vw;
    margin-left: 2vw;
}

h1 {
    font-size: 1.5vw;
    font-weight: bold;
    color: #425A67;
    margin-top: 3vw;
    margin-left: 5vw;
}

.textField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    text-align: left;
    color: #8B8FA8;
    gap: 0.5vw;
    padding: 0.5vw;
    padding-bottom: 0vw;
    margin-bottom: 0.8vw;
    margin-left: 5vw;
}

.data {
    border: 1px solid #8B8FA8;
    width: 20vw;
    height: 2.4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPrimario {
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    transition: 0.5s;
}

.btnPrimario:hover {
    background-color: transparent;
    color: var(--cor-padrao);
    border: 1px solid var(--cor-padrao);
}

.btnVoltar {
    position: fixed;
    left: 8vw;
    bottom: 0;
    border-radius: 15px;
    color: var(--branco);
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    width: 9%; 
    margin: 0rem;
    margin-left: 8.5vw;
    margin-bottom: 2vw;
}

.btnVoltar i {
    margin-right: 15px;
}

.Rowbtn {
    display: flex; 
    gap: 108.75vh; 
}