/* ===================== Estilos para quando o popUp está ativo ===================== */
body.modalAtivo {
    overflow-y: hidden;
}
/* <======> FIM - Estilos para quando o popUp está ativo <======> */

/* ===================== popUp e sobreposição ===================== */
.modal, .sobreposicao {
    width: 100vw;
    height: 100vh;
    top: 6vw;
    left: 0;
    position: fixed;
}

/* Overlay com fundo semitransparente */
.sobreposicao {
    background: rgba(49,49,49,0.8);
}
/* <======> FIM - PopUp e sobreposição <======> */

/* ===================== Estilos para o conteúdo do popUp ===================== */
.conteudoModal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #EFE9DB;
    border: 2px solid #000000;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
}

/* Título dentro do popUp */
h2 {
    color: #000000;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

/* Estilos para os botões dentro do popUp */
.fecharModal, .botaoFiltroDentro {
    position: absolute;
    padding: 5px 7px;
    font-size: 1rem;
}

.fecharModal {
    bottom: 0vh;
    left: 0vw;
}

.botaoFiltroDentro {
    bottom: 0vh;
    right: 0vw;
}
/* <======> FIM - Estilos para o conteúdo do popUp <======> */

/* ===================== Lista de filtros ===================== */
.listas {
    padding-left: 0;
}

.lista {
    list-style: none;
}

.opcaoFiltro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

/* Estilo para o contêiner do label + input (fundo branco) */
.opcaoFiltro {
    display: flex;
    max-width: 20vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 2px 10px;
}

/* Estilo para o label dentro do contêiner */
.opcaoFiltro label {
    background-color: white;
    padding: 8px;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
    width: 6vw;
    flex-shrink: 0;
    font-size: large;
    padding-right: 2vw;
}

.spanDeAte {
    font-size: large;
    font-weight: bold;
    flex-shrink: 0;
}

.opcaoFiltro input, .opcaoFiltro select {
    background-color: white;
    padding: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 7px;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    cursor: pointer;
    text-indent: 5px;
}

.opcaoFiltro select {
    max-width: 12vw;
}
.opcaoFiltro .inputRange {
    border: 1px solid #009F22;
    box-shadow: 1px 1px 4px #00000065;
    width: 3vw;
}

.opcaoFiltro .inputLote {
    width: 100%;
}
/* <======> FIM - Lista de filtros <======> */

/* ===================== Estilo dos inputs e selects ===================== */
.selectFiltro, .inputFiltro, .inputRange {
    width: 100%;
    padding: 8px 0px;
    margin-top: 5px;
    box-sizing: border-box;
}
/* <======> FIM - Estilo dos inputs e selects <======> */

/* ===================== Estilo do container de intervalo (idade, peso) ===================== */
.containerRange {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerRange input {
    width: 30%;
}

.containerRange span {
    margin: 0 10px;
}
/* <======> FIM - Estilo do container de intervalo <======> */

/* ===================== Estilo para a lista de navegação ===================== */
.linkNav {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 7px 12px;
    background-color: white;
    border-radius: 100px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.link {
    color: white;
    font-weight: 700;
    font-size: 16px;
}
/* <======> FIM - Estilo para a lista de navegação <======> */

/* ===================== Botões dentro do popUp ===================== */
.rowbtn {
    margin-top: 2vw;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 2.5vh; 
    cursor: pointer;
    padding: 0.4vw;
    padding-right: 1.4vw;
    padding-left: 1.4vw;
    gap: 0.5vw;
}

.btnPrimario {
    border: 1px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    transition: background-color 0.5s;
}

.btnPrimario:hover {
    background-color: transparent;
    color: var(--cor-padrao);
    border: 1px solid var(--cor-padrao);
}
/* <======> FIM - Botões dentro do popUp <======> */
